<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/assets/owl.carousel.min.css">

<section class="cards">
  <div class="owl-wrapper">
    <div class="loop owl-carousel owl-theme">
      
      <article class="card">
        <div class="card__content">
          <h4 class="card__title"><span>Card One</span></h4>
        </div>
      </article>
      
      <article class="card">
        <div class="card__content">
          <h4 class="card__title"><span>Card Two</span></h4>
        </div>
      </article>
      
      <article class="card">
        <div class="card__content">
          <h4 class="card__title"><span>Card Three</span></h4>
        </div>
      </article>
      
      <article class="card">
        <div class="card__content">
          <h4 class="card__title"><span>Card Four</span></h4>
        </div>
      </article>
    </div>
  </div>
</section>